<header>
  <nav class="menu">
    <input
      routerLink="/admin/pessoas"
      type="button"
      value="Listagem de pessoas"
    />
    <br />
    <input routerLink="/admin/pessoas/novo" type="button" value="Add pessoas" />
    <br />
    <input
      routerLink="/admin/carros"
      type="button"
      value="Listagem de carros"
    />
    <br />
    <input routerLink="/admin/carros/novo" type="button" value="Add carros" />
    <br />
    <input
      routerLink="/admin/livros"
      type="button"
      value="Listagem de livros"
    />
    <br />
    <input routerLink="/admin/livros/novo" type="button" value="Add livros" />
    <br />

    <input routerLink="/login" type="button" value="Sair" />
  </nav>
</header>
