<div class="container">
  <div class="bg-table-style">
    <button class="cadastrar-btn" (click)="adicionar(modal1)">Cadastrar</button>

    <div class="table-container">
      <div class="table-wrapper">
        <table>
          <thead>
            <th>Id</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Opções</th>
          </thead>
          <tbody>
            <tr *ngFor="let livro of list; let i = index">
              <td>
                {{ livro.id }}
              </td>
              <td>
                {{ livro.titulo }}
              </td>
              <td>
                {{ livro.autor }}
              </td>
              <td class="option-td">
                <button
                  type="button"
                  class="btn btn-warning"
                  (click)="editar(modal1, livro, i)"
                >
                  Editar
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="excluir(livro)"
                >
                  Excluir
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #modal1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Livro</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-livrosdetails
      [livro]="livroSelecionado"
      (retorno)="addOuEditar($event)"
    >
    </app-livrosdetails>
  </div>
  <div class="modal-footer"></div>
</ng-template>
