<div class="container">
  <div class="bg-table-style">
    <button class="cadastrar-btn" (click)="adicionar(modal1)">Cadastrar</button>

    <div class="table-container">
      <div class="table-wrapper">
        <table>
          <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Edição</th>
          </thead>
          <tbody>
            <tr *ngFor="let pessoa of list">
              <td>
                {{ pessoa.id }}
              </td>
              <td>
                {{ pessoa.nome }}
              </td>
              <td>
                {{ pessoa.idade }}
              </td>
              <td class="option-td">
                <button
                  type="button"
                  class="btn btn-warning"
                  (click)="editar(modal1, pessoa)"
                >
                  Editar
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="excluir(pessoa)"
                >
                  Excluir
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #modal1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Pessoa</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-pessoasdetails
      [pessoa]="pessoaSelecionada"
      (retorno)="addOuEditar($event)"
    ></app-pessoasdetails>
  </div>
  <div class="modal-footer"></div>
</ng-template>
