<div class="container">
  <button (click)="openModal(abc)">Add livro</button>

  <table>
    <tr>
      <th>Titulo:</th>
      <th>Autor:</th>
      <th>Edição:</th>
    </tr>

    <tr *ngFor="let livro of list; let i = index">
      <td>
        {{ livro.titulo }}
      </td>
      <td>
        {{ livro.autor }}
      </td>
      <td>
        <button type="button" class="btn btn-warning" (click)="update(i, abc)">
          Editar
        </button>
      </td>
    </tr>
  </table>
</div>

<ng-template #abc let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="editing">Editar Livro</h4>
    <h4 class="modal-title" *ngIf="!editing">Criar Livro</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-livrosdetails
      (retorno)="addToList($event)"
      [livroInput]="livroSelecionado"
    ></app-livrosdetails>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Fechar
    </button>
  </div>
</ng-template>
